$backgroundColour: #252a38;
$darkerBackgroundColour: #151820;
$foregroundColour: #dcdcdc;
$primaryColour: #2985ff;
$overlayColour: #252a388f;

/* Font sizes */
$mobile-subtitle-font-size: 20px;
$mobile-subtitle-line-height: 24px;
